@font-face {
    font-family: 'AgeoTrial-m';
    src: url(fonts/AgeoTrial-Medium.ttf);
}

*{
    margin: 0;
}
.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 150px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1{
    width: 20%;
    height: 100%;
    border-bottom-style: solid;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: 'AgeoTrial-m', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right-style: solid;
    border-color: gray;
    border-width: 1px;
}
.section1 img{
    width: 150px;
    height: 70px;
}
#dc{
    background-color: white;
}
#dc a p{
    color: black;
    font-family: 'AgeoTrial-m', sans-serif;
}
.section2:hover{
    border-bottom-color: white;
}
.section2 a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 a p{
    color: white;
    font-family: 'AgeoTrial-m', sans-serif;
}
.section3 a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 a p{
    color: white;
    font-family: 'AgeoTrial-m', sans-serif;
}
.section2{
    border-bottom-style: solid;
    height: 100%;
    width: 15%;
    background-color: rgb(27, 27, 27);
    color: white;
    border-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right-style: solid;
    border-width: 1px;
    transition: 0.2s;
}
.section3{
    border-bottom-style: solid;
    width: 20%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    color: white;
    border-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
}
.body{
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
}
.inner{
    width: 93%;
    height: 100%;
    color: white;
}
.socmed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    padding: 2% 0;
}
.socmed ul{
    display: flex;
}
.socmed ul li{
    list-style: none;
}
.socmed a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 25%;
    transition: 0.2s;
}
.socmed a:hover{
    background-color: white;
    color: rgb(27, 27, 27);
    box-shadow: 0px 0px 10px white;
}
.footer{
    width: 100%;
    height: 45vh;
    border-top-style: solid;
    padding-top: 50px;
    border-width: 1px;
    border-color: gray;
    display: flex;
    justify-content: space-between;
}
.f1{
    width: 55vh;
    height: 100%;
}
.f1 img{
    width: 200px;
    height: 100px;
    margin: 20px 0;
}
.f1 p{
    font-family: 'AgeoTrial-m', sans-serif;
}
.f1 div{
    font-size: 20px;
    padding-top: 10px;
}
.f1 div a{
    color: white;
    font-size: 15px;
    font-family: 'AgeoTrial-m', sans-serif;
    padding-bottom: 5px;
}
.f1 a:hover{
    border-bottom: solid;
    border-width: 1px;
    border-color: none;
}
.f1 h2{
    font-family: 'AgeoTrial-m', sans-serif; 
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 20px;
    color: gray;
}
.f1 h2 p{
    color: white;
}